
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background: url(apiBg.jpg);
    background-size: cover;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #252525;
}

/*Global*/
.container{
  width: 100%;
  margin: auto;
  position:relative;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

header{
  background-color: #6E6E6E;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #01DFD7 3px solid;
  padding-bottom: 20px;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float: left;
  display: inline;
  padding:0 40px 0 40px;
}

header #branding{
  float: left;
  margin-left: 20px;
}

header #branding h1{
  margin:0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #01DFD7;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

.search-container{
  width: 70%;
  text-align: center;
  margin: auto;
}

.aboutUs-container{
  width: 70%;
  text-align: center;
  margin: auto;
}

#search{
  padding: 15px;
  color: #848484;
}

#search h1{
  float: left;
}

#search form{
  float:right;
  margin-top: 15px;
}

#search input{
  padding: 15px;
  height: 25px;
  width: 250px;
  border-radius: 3px;
  font-size: 18px;
}

.searchBtn{
  height: 38px;
  background: #6E6E6E;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 3px;
}

#movies{
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}


.card {
  border: 1px solid #6E6E6E;
  margin-bottom: 10px;
  margin-top:5px;
  background-color: #C5F4EF;
}

.card-image {
   width: 100%;
}

@media(min-width:960px){

  #movies .col-3 .well{
    max-height: 320px;

  }
  #movies .col-3 img{
    max-height: 200px;
    max-width: 100%;
  }
}

.card-content {
 padding: 20px;
  color: #848484;
}

.card-content .movieTitle {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;


}

.card-content p {
  margin: 0.5em 0;

}

.movieDetails{
color: #848484;

}

.singleMoviecard {
  border: 1px solid #E5E5E5;
  margin-bottom: 10px;
  margin-top:10px;
  margin-bottom:10px;
}

.thumbnail {
   width: 70%;
   height: auto;
   display:inline block;
   margin-top: 30px;
   border-radius: 3px;
   border: 1px solid #6E6E6E;
}

.movieInfo {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  color: #6E6E6E;
  font-weight: bold;
  display: inline block;
  border: 1px solid #848484;
  border-radius: 3px;
  height: auto;
}

.singleMoviecard p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;

}

.card-content p span {
  margin: 0.5em 0;

}

.movieDetails{
color: #848484;
}

.mapTitle{
  color: #848484;
}

#map{
  min-height:400px;
  max-width:70%;
  text-align: center;
  margin: 10px auto 90px auto;
}

footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.6rem;
  color: #ffffff;
  background-color: #6E6E6E;
  text-align: center;
  margin-top: 20px;
}

/*about.html*/
.aboutUs{
  color: #848484;
  width:70%;
  margin-top: 30px;
  font-size: 20px;
/*  font-family: bold;*/
  line-height: 20px;
}

/*search.html*/
.searchMovCls{
  margin-top: 100px;
}

.searchMovies{
  padding-bottom:400px;
  padding-top: 70px;
   text-align: center;
}

/*gmaps.html*/
.gmapsDisplay{
  padding-top: 10px;
  padding-bottom:50px;
  margin:auto;
}

.gmapHeading{
  color: #848484;
  font-size: 20px;
  text-align: center;
}

/*Mobile screen*/
@media(min-width:150px) and (max-width:640px){

  body{
    font-size: 12px;
    background: url(mobileApiBg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  header #branding{
    width: 100%;
    text-align: center;
    margin: auto;
  }

  header #branding h1{
    text-align: center;
  /*  width: 100%;*/
    margin: auto;
  }

  header li{
    line-height: 30px;
    width: 100%;
    text-align: center;
    padding: 0 -30px 0 -30px;
   margin:auto;
  }


  .search-container{
    width: 100%;
  }

  .searchMovCls{
    margin-top: 40px;
  }

  #search h1{
    margin: auto;
    width:100%;
  }

  #search form{
    margin: auto;
    width:100%;
    margin-top:10px;

  }

  .searchBtn{
    margin-top:10px;
  }

  .searchMovies{
    padding-top: 40px;
  }
  .thumbnail {
     width: 100%;
     margin-top: 40px;
  }

  .movieInfo {
    margin-top: 40px;
  }
  .aboutUs{
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
  }

  #map{
    min-height: 300px;
    max-width: 100%;
  }
  .gmapsDisplay{
    padding-top: 20px;
  }
}
